#!/bin/sh -

PKG_CONFIG_PATH="/usr/local/lib64/pkgconfig:$PKG_CONFIG_PATH"
export PKG_CONFIG_PATH

CFLAGS="$(pkg-config --cflags limbo_sqlite3)"
CFLAGS="$CFLAGS $(dialog-config --cflags)"
export CFLAGS

LDFLAGS="$(pkg-config --libs limbo_sqlite3)"
LDFLAGS="$LDFLAGS $(dialog-config --libs)"
export LDFLAGS
